<html>
  <head>
    <title>VolunteerNow</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/post.js"></script>
    <link rel="stylesheet" href="/static/divsForCalendar.css">
  </head>

  <body>
    <button name="event-1" onclick="register_event(this.name)">Post This</button>
    <div id="result"</div>
    <table>
    {%set days = ["Sun","Mon","Tues","Wednes","Thurs","Fri","Sat"]%}

    {% for day in days%}
      <td>
      <th class = "dayOfWeek">{{day}}</th>
    </td>
    {%endfor%}
  </table>

  </body>
</html>
