<html>
  <head>
  </head>
  <body>
    <form method="post" action="/organizer" >
      <p>Enter event name:</p> <br>
      <input type="text" name="eventName" ></input>
      <p> Enter description of event: </p> <br>
      <input type="text" name="description" ></input>
      <!-- Autumn does not know how to enter right datetime format so she commented out datetime in datastore -->
      <p> Enter start time (YYYY/MM/DD/hh/mm): </p> <br>
      <input type="text" name="start_time"></input>
      <p> Enter end time (YYYY/MM/DD/hh/mm): </p> <br>
      <input type="text" name="end_time" ></input> -->
      <br>
      <input type="submit" value="Submit">

  </body>
</html>
