<html>
  <head>
  </head>
  <body>
    <h1>Submit a volunteering event!</h1>
  <div class="centered">
     <!-- <div class="group"> -  -->
     <form method="post" action="/organizer" >
      <!-- <p>Enter event name:</p> <br> -->
      <input type="text" id ="name" name="event_name" ></input>
      <label for="name">Event Name</label>
      <div class="bar"></div>
      <br>

      <input type="text" id ="name" name="description" ></input>
      <label for="name">Event Description</label>
      <div class="bar"></div>
      <br>
      <!-- Autumn does not know how to enter right datetime format so she commented out datetime in datastore -->
      <!-- <p> Enter start time (YYYY/MM/DD/hh/mm): </p> <br> -->
      <input type="text" id ="name" name="start_time"></input>
      <label for="name">Start Time in (YYYY/MM/DD/hh/mm) </label>
      <div class="bar"></div>
      <br>
      <!-- <p> Enter end time (YYYY/MM/DD/hh/mm): </p> <br> -->
      <input type="text" id ="name" name="final_time" ></input>
      <label for="name">End Time in (YYYY/MM/DD/hh/mm) </label>
      <div class="bar"></div>
      <br>
      <input type="submit" value="Submit" onclick="Sumbit();">

     </div>
  <!-- </div> -->
  {{ events }}
  </body>
</html>
